.content-text {
  line-height: 1.87;

  & > *:last-child {
    margin-bottom: 0;
  }

  h2 {
    @extend .title;
    @extend ._sm;

    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;

    & + h2 {
      padding-top: 10px;
    }
  }

  ul, ol {
    margin-bottom: 30px;
  }

  a {
    @extend .link;
    @extend ._blue;
  }
}
