// //////////////////////////////////////// font-family
$ff-main: "GothamPro", sans-serif; // 400, 500, 700
$ff-secondary: "Montserrat", sans-serif; // 400, 700

// //////////////////////////////////////// font-size
$fz-main: 16px;
$lh-main: 1.5;

// //////////////////////////////////////// colors
$c-main: #2b2c30;
$c-dark-blue: #0b1129;
$c-white: #fff;
$c-gray: #c4c4c4;
$c-accent: #2e97e1;


// //////////////////////////////////////// breakpoints
$sl: 1429.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;

// //////////////////////////////////////// col width
$c12: 100%;
$c11: 91.666667%;
$c10: 83.333333%;
$c9: 75%;
$c8: 66.666667%;
$c7: 58.333333%;
$c6: 50%;
$c5: 41.666667%;
$c4: 33.333333%;
$c3: 25%;
$c2-5: 20%;
$c2: 16.666667%;
$c1: 8.333333%;
// width: calc(#{$c4} - 20px); - example
